<app-header [title]="title"></app-header>
<mat-sidenav-container class="document-container">
  <mat-sidenav mode="side" style="height:100%;" opened>
    <app-menu [title]="title"></app-menu>
  </mat-sidenav>
  <mat-sidenav-content class="overview-container">
    <mat-card>
      <h4>1. How do I change the welcome text?</h4>
      <p> Under each MicroSurvey configuration, you can change it your desired Welcome Text</p>
      <h4>2. How do I personalize the start button colors, background, etc?</h4>
      <p> Coming Soon... </p>
      <h4>3. How do I skip the welcome and display the first question?</h4>
      <p> Coming Soon... </p>
      <h4>4. How do I track analytics?</h4>
      <p> Coming Soon... </p>
      <h4>5. What happens if a user visits my website on a mobile device?</h4>
      <p> You will see the MicroSurvey PopUp in Full Screen and UI elements are intelligently adjusted to fit best on the
        mobile screen.
      </p>
      <h4>6. Can I integrate this into my mobile app?</h4>
      <p> Coming Soon... </p>
      <h4>7. What other data can I pass in?</h4>
      <p> Coming Soon...</p>
      <h4>8. Where is MicroSurvey configuration page?</h4>
      <p><a href="https://cx.cloudcherry.com/#/setup/microsurvey" target="_blank">Here</a>. Login --> CX Setup --> Invitation & Tokens --> Tokens & Other Settings --> Micro Survey Setup</p>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
